.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(10, 25, 41);
    height: 100VH;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.MuiFormControl-root.MuiTextField-root {
    margin: 10px;
    width: 300px;
    background: whitesmoke;
}