.list-container {
    height: 100VH;
    border-top: 1px solid gray;
    margin-top: 25px;
}

.lists {
    display: grid;
    grid-gap: 1rem;
    margin: 40px 20px 20px 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}